@font-face {
  font-family: "iconfont"; /* Project id 4113045 */
  src: url('iconfont.woff2?t=1696321114142') format('woff2'),
       url('iconfont.woff?t=1696321114142') format('woff'),
       url('iconfont.ttf?t=1696321114142') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-remove:before {
  content: "\e60c";
}

.icon-quanxianyuechi:before {
  content: "\e8a3";
}

.icon-remove1:before {
  content: "\e650";
}

.icon-a-yulan-dakai_preview-open2:before {
  content: "\e626";
}

.icon-yunshangchuan:before {
  content: "\e601";
}

.icon-photo:before {
  content: "\e6ab";
}

.icon-baocun:before {
  content: "\e63b";
}

.icon-yunshangchuan1:before {
  content: "\eb2c";
}

.icon-tuwen:before {
  content: "\e637";
}

.icon-w_liulanqi:before {
  content: "\e66d";
}

.icon-qukuailian:before {
  content: "\e6a1";
}

.icon-Icon-line-previewclose:before {
  content: "\e7eb";
}

.icon-Icon-line-previewopen:before {
  content: "\e7ec";
}

.icon-preview:before {
  content: "\e7a0";
}

.icon-data_preview_line:before {
  content: "\e73b";
}

.icon-xuanzhong:before {
  content: "\e68a";
}

.icon-xuanzhong1:before {
  content: "\e63c";
}

.icon-xuanzhong11:before {
  content: "\ec32";
}

.icon-xuanzhong1-copy:before {
  content: "\ec33";
}

.icon-tongqian:before {
  content: "\e6a9";
}

.icon-wode-01:before {
  content: "\e60d";
}

